<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="../js/builders.js"></script>
    <script src="../js/makeClickable.js"></script>
    <script src="../js/websocket.js"></script>
    <link rel="stylesheet" href="style.css">
    <style type="text/css"></style>
</head>
<body>

<div id="wrapper">
    You are: <span id="player"></span><br/>
    Active players: <span id="players"></span><br/>

    Game phase: <span id="phase"></span><span id="last" style="display: none">Last round</span><br>
    <b>Your status: </b><span id="status"></span><br>
    <div id="feedPanel">
        <span >food: </span><div id="food" onclick="eatFood()"></div>
        <button onclick="attack()">attack animal</button>
    </div>
    <div id="movePanel">
        <div class="doing"><span>Your move: </span><span id="doing"></span></div>
        <button id="Clear" onclick="clearMove()">Clear</button>
        <button id="Make move" onclick="makeMove()">Make move</button>
        <button id="End move" onclick="endMove()">End move</button>
        <button id="endPhase" onclick="endPhase()">EndPhase</button>
    </div>

    <div id="common"></div>
    <hr>

    Your cards:
    <div id="personal"></div>
    <hr>
    <br>

    <button id="restart" onclick="restart()">Restart</button>
    <br/><br/>

    <div id="log">Game log:<br/></div>
</div>
</body>
</html>