.card {
    width: 90px;
    height: 120px;
    margin: 10px;
    padding: 3px;
    background-color: forestgreen;
    vertical-align: top;
    border: solid 1px black;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
    font-size: 12px;
}

.card button {
    font-size: 12px;
    width: 96%;
    margin:auto;
    margin-top: 3px;
}

.animal {
    width: 100px;
    height: 130px;
    margin: 15px;
    padding: 6px;
    background-color: burlywood;
    vertical-align: top;
    border: solid 1px black;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
    font-size: 12px;
}

.animal span {
    display: block;
}

.property {
    width: 70px;
    height: 12px;
    background-color: chocolate;
    vertical-align: top;
    font-size: 12px;
    border: solid 1px black;
    margin: 3px;
    position: relative;

}

#feedPanel {
    background-color: darkgray;
    margin: 5px;
    padding: 5px;
    text-align: center;

}

#movePanel {
    background-color: darkseagreen;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.doing {
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 1px black;
    text-align: left;
    background-color: white;
}

