.card {
    width: 80px;
    height: 120px;
    margin: 10px;
    padding: 6px;
    background-color: forestgreen;
    vertical-align: top;
    border: solid 1px black;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.card span{
    display: block;
    background-color: lightgreen;
}

.animal{
    width: 80px;
    height: 120px;
    margin: 15px;
    padding: 6px;
    background-color: burlywood;
    vertical-align: top;
    border: solid 1px black;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}
.communication{

    text-align: center;
    display: inline-block;
    background-color: darksalmon;
    width: 102px;
    height: 20px;
    position:relative;
    top:140px;
    left:55px;
    margin-right:-110px;
    position: relative;
}

.cooperation{

    text-align: center;
    display: inline-block;
    background-color: aquamarine;
    width: 82px;
    height: 20px;
    position:relative;
    top:140px;
    left:-60px;
    position: relative;
}