<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence">
    <persistence-unit name ="PUtest" transaction-type="JTA">
        <jta-data-source>jdbc/h2test</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="eclipselink.target-database"
                      value="org.eclipse.persistence.platform.database.H2Platform"/>
        </properties>
    </persistence-unit>
</persistence>